.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.cart-summary-section {
  align-self: flex-end;
}

.cart-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.cart-remove-all-btn {
  background-color: transparent;
  color: #0b69ff; /* Blue color similar to the one in the screenshot */
  border: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: color 0.3s ease-in-out;
}

.cart-remove-all-btn:hover {
  color: #084dbf; /* Darker blue on hover */
}

@media (max-width: 768px) {
  .cart-remove-all-btn {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .cart-remove-all-btn {
    font-size: 12px;
  }
}
